<section id="search" class={{if showSearchOnSmallScreen "visible" "hidden"}}>
  <BookmarkSearch @filterText={{filterText}} @showSearch={{showSearchOnSmallScreen}} @autoFocusInput={{isLargeScreen}} />
</section>
<div id="content">
  {{#if model}}
    <ul class="bookmark-list">
      {{#if paginationActive}}
        {{#each paginatedContent as |bookmark|}}
          <BookmarkItem @item={{bookmark}} @paginationObserver={{paginationObserver}} @paginationItemObserved={{paginationItemObserved}} />
        {{/each}}
      {{else}}
        {{#each filteredContent as |bookmark|}}
          <BookmarkItem @item={{bookmark}} />
        {{/each}}
      {{/if}}
    </ul>
  {{else}}
    <section id="no-bookmarks">
      <div class="illustration">
        <IllustrationEmpty />
      </div>
      <div class="text">
        <p>{{t "bookmark.index.you_have_not_stored_any_bookmarks_yet"}}</p>
        <p><LinkTo @route="bookmarks.new" class="button button-secondary">{{t "bookmark.index.add_the_first_one"}}</LinkTo></p>
        <p class="learn_more"><LinkTo @route="about" class="button button-naked">{{t "bookmark.index.learn_more"}}</LinkTo></p>
      </div>
    </section>
  {{/if}}
</div>
