<div id="content">
  {{#if this.showConfirmation}}
    <BookmarkSaved @folderName={{this.folderName}} />
  {{else}}
    <section id="bookmark-new">
      <header>
        <h2>{{t "bookmark.new.header"}}</h2>
      </header>

      <BookmarkForm @bookmark={{this.model}}
                    @availableTags={{this.availableTags}}
                    @commit={{action "commit"}}
                    @cancel={{action "cancel"}} />
    </section>

    {{#unless this.bookmarkletUsed}}
      <section id="bookmarklet">
        <h3>{{t "bookmark.new.bookmarklet.use_text"}}</h3>
        <p class="hint">{{t "bookmark.new.bookmarklet.drag_text"}}</p>
        <p><a href={{this.bookmarkletLink}} class="button">{{t "bookmark.new.bookmarklet.create_webmark"}}</a></p>
      </section>
    {{/unless}}
  {{/if}}
</div>
