<div class="app-container">
  <aside>
    <header>
      <h1><LinkTo @route="index" class="pure-menu-heading"><img src="/icon_x128.png" alt="Webmarks"></LinkTo></h1>
    </header>
    <nav>
      <ul class="primary">
        <li id="nav-new">
          <LinkTo @route="bookmarks.new" @title={{t "links.add_new"}}><IconAdd /></LinkTo>
        </li>
        {{#if showSearchButton}}
          <li id="nav-search">
            <a {{action "toggleSearch"}} role="button" class={{if showSearchOnSmallScreen "active"}}><IconSearch /></a>
          </li>
        {{/if}}
      </ul>
      <ul class="folders">
        <li class="folder">
          <LinkTo @route="bookmarks.index" @query={{hash folder="archive"}} @title={{t "folders.archive"}}>📦</LinkTo>
        </li>
        <li class="folder">
          <LinkTo @route="bookmarks.index" @query={{hash folder="readlater"}} @title={{t "folders.readlater"}}>📌</LinkTo>
        </li>
      </ul>
      <ul class="secondary">
        <li id="nav-info">
          <LinkTo @route="about" @title={{t "app_info.nav.about"}}><IconInfo /></LinkTo>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    {{outlet}}
  </main>
</div>
