<aside>
  <header>
    <h1>{{#link-to "index" class="pure-menu-heading"}}<img src="/icon_x128.png" alt="Webmarks">{{/link-to}}</h1>
  </header>
  <nav>
    <ul>
      <li id="nav-new">
        {{#link-to "archive.new" title=(t "links.add_new")}}{{icon-add}}{{/link-to}}
      </li>
      {{#if showSearchButton}}
        <li id="nav-search">
          <a {{action "toggleSearch"}} role="button" class={{if showSearchOnSmallScreen "active"}}>{{icon-search}}</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</aside>
<main>
  {{outlet}}
</main>
